<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<body style="margin: 0; padding: 0;">

	<table border="0" width="100%">
		<tbody>
			<tr>
				<td valign="top"><img alt="GST Cloud" /></td>
			</tr>
			<tr>
				<td valign="top">
					<div>Thanks for signing up with GSTP Cloud!</div>
				</td>
			</tr>
			<tr>
				<td valign="top">&nbsp;</td>
			</tr>
			<tr>
				<td valign="top">
					<table border="0" width="100%">
						<tbody>
							<tr>
								<td>
									<p>You must follow this link to activate your account:</p>
									<p th:text="${appUrl}"></p>									
								</td>
							</tr>
							<tr>
								<td>If you did not create an account, no further action is required.
									<p>Happy fun, and don't hesitate to contact us with your feedback.
									</p>
									<p>Regards,<br />
										The GST Cloud Team <br /> <a href="https://jsoftgroup.wordpress.com">https://jsoftgroup.wordpress.com</a>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>


</body>
</html>